<a href="https://colab.research.google.com/github/engnogueira/PythonParaCienciaDeDados/blob/master/05_encontrando_e_preenchendo_valores_em_branco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Capítulo 1 - Manipulação de dados: Básico**

Seção 5 - Encontrando e preenchendo valores em branco

In [0]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

**Encontrando os valores em branco**

In [5]:
em_branco = np.nan

serie = Series(['linha 1', 'linha 2', em_branco, 'linha 4', 'linha 5', 'linha 6', em_branco, 'linha 8'])
serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5    linha 6
6        NaN
7    linha 8
dtype: object

**nome_do_objeto.isnull()**

In [6]:
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

# **Preenchendo os Valores em branco**

In [11]:
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5, 0] = em_branco
df.loc[1:4, 5] = em_branco
df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

**nome_do_objeto.fillna(valor)**

In [12]:
df_preenchido = df.fillna(0)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

**nome_do_objeto.fillna(dicionário)**

In [13]:
dicio = {0: 0.1, 5: 1.25}
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819